
.menu--display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header{
  padding: 38px 0px 40px 0px;
}
.wrapper{
  display: flex;
  flex-direction: row;
}
.logo{
  flex: 1;
  padding-right: 50px;
}



.menu{
  width: 487px;
}
.menu__list{
  width: 100%;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.menu__item{
  list-style: none;
  overflow: hidden;

  font-weight: 500;
  padding-bottom: 4px;
}
.menu__link--selected{
  color: rgba(75, 46, 200, 1);
}
.language__nav{
  width: 50px;
  margin-left: 92px;
}
.menu__border{
  border-bottom: 2px solid rgba(75, 46, 200, 1);
  transition: all .5s;
}
.border--translate{
  transform: translateX(-105%);
}
.ON{
  color: rgba(75, 46, 200, 1);
}

.menu__language{
  color: gray;
  cursor: pointer;
  user-select: none;
}
.selected-language{
  color: black;
  padding: 0;
  border-bottom: 2px solid black;
}

.body-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@media screen and (width <= 830px){
  .menu{
    display: none;
  }
}